@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* { 
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #224459;
	color: #F2F2F0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr 100px;
	height: 100vh;
}

header {
	grid-column: 1 / 4;
}

main { 
	grid-column: 1 / 4;
}


h1 {
	text-align: center;
}

h1, h2 { 
	margin: 10px auto;
}

figure {
	display: none;
	position: relative;
	background: rgba(0, 0, 0, 0.836);
	overflow: hidden;
	width: 100%;
	max-height: 600px;
}

img {
	width: 100%;
	animation: effet-images-in 1s infinite;
	animation-iteration-count: 1;
	
}

figcaption {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	color: #0F97A6;
	position: absolute;
	left: 0;
	right: 0;
	padding: 10px;
}

section { 
	position: relative; 
	text-align: center;
}

button { 
	cursor: pointer; 
	background: transparent; 
}

ul li { 
	list-style-type: none;
}

footer {
	background: #403D3C;
	color: #D9D3C7;
	padding: 10px;
	text-align: center;
	grid-row: 3 / 4;
	grid-column: 1 / 4;
	display: grid;
}

.btn-precedent,
.btn-suivant {
	background: rgba(255, 255, 255, 0.5); 
	border: none; 
	border-radius: 100%; 
	color: #224459;
	font-size: 2em;
	position: absolute;
	top: 50%;
	transform: translateY(-79px);
}

.btn-precedent:hover,
.btn-suivant:hover {
	color: #D5D973;
}

.btn-precedent {
	left: 15px;
}
.btn-suivant {
	right: 15px;
}

.visible {
	display: block;
}

.contenant-nombre {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding: 0;
}

.nombre {
	background: #1E3859;
	border-radius: 50%;
	border: 2px solid #f2f2f2; 
	color: #f2f2f2;
	font-size: 1em;
	font-weight: 700;
	height: 35px; 
	width: 35px;
}

.nombre:hover,
.actif {
	color: #D5D973;
	border: 5px solid #D5D973; 
}

.btn-play-pause { 
	background: #224459;
	border: 1px solid #0F97A6;
	color: #D5D973;
	font-size: large;
	font-weight: bold;
	margin: 25px 0;
	padding: 10px; 
	text-align: center;
	transition: background 1s;
	width: 100px;
}

.btn-play-pause:hover{ 
	background: rgba(15, 151, 166, 0.8);
	color: #1E3859;
	text-decoration: underline;
}

.contenant-footer { 
	display: flex; 
	align-items: center;
	padding: 0;
}

.liste-footer { 
	flex-basis: 100%;
}

@keyframes effet-images-in {
	0% {
	  opacity: 0.4;
	}
	100% {
	  opacity: 1;
	}
  }

  @media screen and (min-width : 800px){
	figcaption {
		font-size: 1.5em;
		padding: 30px;
	}

	.btn-precedent,
	.btn-suivant {

	font-size: 3em;
	top: 50%;
	transform: translateY(-29px);
}

	.contenant-nombre {
		display: flex;
		justify-content: space-around;
		position: absolute; 
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.nombre {
		font-size: 1.5em;
		font-weight: 700;
		height: 45px; 
		width: 45px;
	}

	.btn-play-pause { 
		font-size: 1.5em;
		font-weight: bold;
		left: 50%;
		margin-top: 0;
		padding: 10px; 
		position: absolute;
		top: 80%;
		transform: translateX(-50%);
		width: 150px;
	}
}